<div class ="center">
  <h2>Breweries:</h2>
  <button md-raised-button routerLink="/breweries/add" routerLinkActive="active">Add a new brewery</button>
  <p>
    <md-input-container>
      <input mdInput placeholder="Filter by name" value="Filter by name" [(ngModel)]="nameFilter" name="nameFilter">
    </md-input-container>
  </p>
  <md-list class="breweries">
    <md-list-item *ngFor="let brewery of breweries | breweryFilter : 'name' : nameFilter | paginate: { itemsPerPage: 10, currentPage: p }" (click)="onSelect(brewery)">
      {{brewery.name}}
    </md-list-item>
  </md-list>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

