<div *ngIf="brewery">
  <h2>{{brewery.name}} details:</h2>
  <p>
    <button md-raised-button (click)="deleteBrewery()" class="delete-button">Delete</button>
  </p>
  <p>
  <h3>Average rating of this brewery beers: </h3>
   <rating md-line [(ngModel)]="averageRating"
           [max]="5"
           iconClass="star-icon"
           fullIcon="★"
           emptyIcon="☆"
           [readonly]="true"
           [required]="false"
           [float]="true"
           [titles]="['one', 'two', 'three', 'four', 'five']">
   </rating>
  <p>
    <md-input-container>
      <input mdInput [(ngModel)]="brewery.id" placeholder="ID" disabled/>
    </md-input-container>
  </p>
  <p>
    <md-input-container>
      <input mdInput [(ngModel)]="brewery.name" placeholder="Name"/>
    </md-input-container>
  </p>
  <p>
    <button md-raised-button routerLink="/breweries/{{brewery.id}}/beers" routerLinkActive="active">
      Show brewery's beers
    </button>
  </p>
  <button md-raised-button (click)="goBack()">Back</button>
</div>

