<div *ngIf="beer">
  <h2>{{beer.name}} details:</h2>
  <p>
    <md-input-container>
      <input mdInput [(ngModel)]="beer.id" placeholder="ID" disabled/>
    </md-input-container>
  </p>
  <p>
    <md-input-container>
      <input mdInput [(ngModel)]="beer.name" placeholder="Name"/>
    </md-input-container>
  </p>
  <p>
    <md-input-container>
      <input mdInput [(ngModel)]="beer.brewery.name" placeholder="Brewery"/>
    </md-input-container>
    <button md-raised-button (click)="goToBrewery()" id="breweryButton" md-8>Go to brewery page</button>
  </p>
  <div>
  </div>
  <button md-raised-button (click)="goBack()">Back</button>
</div>
