<div class="center">
  <h1>Add beer</h1>
  <form (ngSubmit)="addBeer()" #beerForm="ngForm">
    <p>
      <md-input-container>
        <input mdInput placeholder="Name" value="name" required [(ngModel)]="model.name" name="name">
      </md-input-container>
    </p>
    <p>
      <md-input-container>
        <input mdInput placeholder="Price" value="0" required [(ngModel)]="model.price" name="price">
      </md-input-container>
    </p>
    <p>
      <md-select placeholder="Brewery" [(ngModel)]="model.brewery" name="brewery">
        <md-option *ngFor="let brewery of breweries" [value]="brewery">{{ brewery.name }}</md-option>
      </md-select>
    </p>
    <button md-raised-button type="submit" [disabled]="!beerForm.form.valid">Submit</button>
  </form>
</div>
