<div *ngIf="brewery">
  <h2>{{brewery.name}} details:</h2>
  <p>
    <md-input-container>
      <input mdInput [(ngModel)]="brewery.id" placeholder="ID" disabled/>
    </md-input-container>
  </p>
  <p>
    <md-input-container>
      <input mdInput [(ngModel)]="brewery.name" placeholder="Name"/>
    </md-input-container>
  </p>
  <p>
    <label for="beers">Beers: </label>
    <md-list *ngFor="let beer of beers" id="beers">
      <md-list-item>{{beer.name}} </md-list-item>
    </md-list>
  </p>
  <div>
  </div>
  <button md-raised-button (click)="goBack()">Back</button>
</div>

