<md-sidenav-container class="sidenav-container">
  <md-sidenav #sidenav mode="side" opened="true" class="sidenav">
    <ul class="beers" style="flex: 1">
      <li *ngFor="let beer of beers" (click)="onSelect(beer)" [class.selected]="beer === selectedBeer" style="flex: 1">
        <span class="badge">{{beer.id}}</span> {{beer.name}}
      </li>
    </ul>
  </md-sidenav>

  <div *ngIf="selectedBeer" class="sidenav-content">
    <h2>
      {{selectedBeer.name | uppercase}}
    </h2>
    <button (click)="gotoBeer()">View beer details</button>
  </div>
</md-sidenav-container>

